.card-footer {
	background-color: transparent;
	border: none;
}
.card {
	border: none;
	box-shadow: 5px 5px 10px lightgrey;
	border-radius: 10px;
}
.card img {
	width: 200px;
}
.card-deck {
	text-align: center;
}
.see-all {
	margin-bottom: 100px;
	color: orange;
	margin-top: 100px;
}
.buy-now-button {
	/* background-image: linear-gradient(to bottom, #30475e 0%, #1b262c 100%); */
	color: white;
	border: none;
	border-radius: 8px;
	padding: 9px 25px;
	cursor: pointer;
	background: black;
}

.carousel-indicators .active {
	width: 45px;
	height: 10px;
	/* border: 5px solid black; */
	background-image: linear-gradient(45deg, #ff9c35, #ffd019);
}
.carousel-indicators li {
	border-radius: 50px;
	width: 20px;
	height: 8px;
	background-color: lightgrey;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
}
.categories img {
	width: 100%;
}
.card-d {
	padding: 50px 60px;
}
.bag-card {
	padding: 50px 60px;
}

/* fix */
.container.cat-section {
	padding: 150px 70px;
}

.cat-section h2{
	margin-bottom: 100px;


}
.span{
	border-bottom: 5px solid #ff9c35;
	padding-bottom: 8px;
}

.cat {
	background: #ffff;
	box-shadow: 1px 1px 10px 5px #eaeaea;
	text-align: center;
	width: 150px;
	height: 150px;
	padding: 15px;
	margin-bottom: 40px;

}

.cat-border-1{
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.cat-border-2{
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.cat-border-3{
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.cat img {
	height: 70px;
	text-align: center;
	margin-bottom: 10px;
}

.thumbnail img {
	max-width: 100%;
	height: auto;
}
